extends layout

block content
	h1 Build status
	p
		b Owner: 
		| #{owner}
	p
		b Repository name: 
		| #{reponame}
	p
		b Branch:
		| #{branch}
	p
		b Commit: 
		| #{rev}
	if err
		h2 Error
		pre #{err}
	if files
		h2 Artifacts
		ul
			each file in files
				if file[file.length-1] != "/"
					li
						a(href="/artifact/" + [owner, reponame, branchName, rev, file].join("/")) #{file}

		p: b: a(href="/release/" + [owner, reponame, branchName, rev].join("/")) Download all artifacts as ZIP

	if (report && report.result && report.result.messages && report.result.messages.$allMessages)
		h2 Build output
		pre
			= report.result.messages.$allMessages.map(function(obj) { return obj && obj.message; }).join("\n")

	if report
		h2 Report
		pre
			= JSON.stringify(report, null, 4)
